@font-face {
  font-family: 'NosfrakturRegular';
  src: url('/fonts/NosfrakturRegular.otf') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'oldkirkItalic';
  src: url('/fonts/oldkirkItalic.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}