@font-face {
  font-family: 'AbsolutHeadline2021';
  src: url('https://nyc3.digitaloceanspaces.com/archeio2/absolut/absolut-outandopen/fonts/AbsolutHeadline2021-Condensed.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}