
// COLORES
:root,
:host {
  // --sl-input-border-color-focus: #0000BD;
  --sl-input-focus-ring-color: transparent;
  --sl-color-primary-600: #010307;

}

.bg-nosferatu {
  background-color: #010307;
  color: white;
  font-family: 'oldkirkItalic';

  h2 {
    font-family: 'NosfrakturRegular';
    font-weight: 400;
    font-size: 32px;
  }

  .contain-input {
    margin-bottom: 15px;

    .name-error {
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      color: #F74354;
      font-style: italic;
      font-size: 11px;
      margin-top: 8px;
    }

  }

  .input-style {

    &::part(base) {
      background-color: transparent;
      border: none;
      border-bottom: 1px solid white;
      border-radius: 0;
      box-shadow: none !important;

      .input--standard.input--focused:not(.input--disabled) {

        box-shadow: none !important

      }

    }

    &::part(input) {
      color: white;
      box-shadow: none !important;
      font-family: "Poppins", sans-serif;
      font-weight: 400;
    }

    &::part(form-control-label) {
      font-size: 16px;
    }

    &.error {
      &::part(base) {
        background-color: rgba( #F74354, .20);
      }

      &::part(input)::placeholder {
        color: #ffffffda;
      }

    }

  }

  .select-style {

    &::part(combobox) {
      background-color: transparent;
      border: none;
      border-bottom: 1px solid white;
      border-radius: 0;
      font-family: "Poppins", sans-serif;
      font-weight: 400;
    }

    &.error {
      &::part(combobox) {
        background-color: rgba( #F74354, .20);
        color: #ffffffda !important;
      }

      &::part(display-input)::placeholder {
         color: #ffffffbd !important;
      }

    }

    sl-option {

      &::part(base) {
        font-family: "Poppins", sans-serif;
        font-weight: 400;

        &.option--current {
          background-color: #010307;
        }

      }
    }

    &::part(display-input) {
      color: white;
    }

  }

  .contain-select {

    .column {
      display: grid;
      grid-template-columns: auto auto auto;
      grid-gap: 15px;
    }

  }

  .check {
    margin-top: 20px;

    &::part(base) {
      font-family: 'oldkirkItalic';
      font-weight: 400;
      text-transform: uppercase;
    }

    &::part(control--checked) {
      background-color: white;
    }

    &::part(checked-icon) {
      color: black
    }

    &.error-check {

      &::part(base) {
        color: #F74354
      }

    }


  }

  .btn-next {
    margin-top: 40px;

    &::part(base) {
      background-color: #474848;
      color: black;
      border: none;
      margin-top: 20px;
      font-family: 'NosfrakturRegular';
      font-size: 18px;
      width: 80px;
      height: 40px;
      border-radius: 50px;
    }

  }

}